In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [4]:
from utils.bootstrap_api import BootstrapAPI
from utils.fpl_api_client import FPLApiClient

In [5]:
client = FPLApiClient()
bootstrap = BootstrapAPI(client)

## Fetching Players and converting to a pandas dataframe

In [6]:
players = bootstrap.get_players()
df_players = pd.DataFrame(players)

#### Checking all the columns that exist in the players dataframe

In [7]:
df_players.columns.to_list()

['can_transact',
 'can_select',
 'chance_of_playing_next_round',
 'chance_of_playing_this_round',
 'code',
 'cost_change_event',
 'cost_change_event_fall',
 'cost_change_start',
 'cost_change_start_fall',
 'dreamteam_count',
 'element_type',
 'ep_next',
 'ep_this',
 'event_points',
 'first_name',
 'form',
 'id',
 'in_dreamteam',
 'news',
 'news_added',
 'now_cost',
 'photo',
 'points_per_game',
 'removed',
 'second_name',
 'selected_by_percent',
 'special',
 'squad_number',
 'status',
 'team',
 'team_code',
 'total_points',
 'transfers_in',
 'transfers_in_event',
 'transfers_out',
 'transfers_out_event',
 'value_form',
 'value_season',
 'web_name',
 'region',
 'team_join_date',
 'birth_date',
 'has_temporary_code',
 'opta_code',
 'minutes',
 'goals_scored',
 'assists',
 'clean_sheets',
 'goals_conceded',
 'own_goals',
 'penalties_saved',
 'penalties_missed',
 'yellow_cards',
 'red_cards',
 'saves',
 'bonus',
 'bps',
 'influence',
 'creativity',
 'threat',
 'ict_index',
 'clearances_blocks_interceptions',
 'recoveries',
 'tackles',
 'defensive_contribution',
 'starts',
 'expected_goals',
 'expected_assists',
 'expected_goal_involvements',
 'expected_goals_conceded',
 'influence_rank',
 'influence_rank_type',
 'creativity_rank',
 'creativity_rank_type',
 'threat_rank',
 'threat_rank_type',
 'ict_index_rank',
 'ict_index_rank_type',
 'corners_and_indirect_freekicks_order',
 'corners_and_indirect_freekicks_text',
 'direct_freekicks_order',
 'direct_freekicks_text',
 'penalties_order',
 'penalties_text',
 'expected_goals_per_90',
 'saves_per_90',
 'expected_assists_per_90',
 'expected_goal_involvements_per_90',
 'expected_goals_conceded_per_90',
 'goals_conceded_per_90',
 'now_cost_rank',
 'now_cost_rank_type',
 'form_rank',
 'form_rank_type',
 'points_per_game_rank',
 'points_per_game_rank_type',
 'selected_rank',
 'selected_rank_type',
 'starts_per_90',
 'clean_sheets_per_90',
 'defensive_contribution_per_90']

In [8]:
df_players.head()

,can_transact,can_select,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,...,now_cost_rank_type,form_rank,form_rank_type,points_per_game_rank,points_per_game_rank_type,selected_rank,selected_rank_type,starts_per_90,clean_sheets_per_90,defensive_contribution_per_90
0,True,True,NaN,NaN,154561,0,0,2,-2,1,...,1,67,4,35,4,11,2,1.0,0.62,0.00
1,True,True,NaN,NaN,109745,0,0,-2,2,0,...,35,506,71,544,75,238,33,0.0,0.00,0.00
2,True,False,0.0,0.0,463748,0,0,0,0,0,...,66,466,56,506,60,303,43,0.0,0.00,0.00
3,True,True,NaN,NaN,551221,0,0,0,0,0,...,77,489,67,528,71,349,53,0.0,0.00,0.00
4,True,True,100.0,100.0,226597,0,0,3,-3,2,...,1,2,1,3,1,8,2,1.0,0.62,9.38

## Fetching Teams and converting to a pandas dataframe

In [9]:
teams = bootstrap.get_teams()
df_teams = pd.DataFrame(teams)

In [10]:
df_teams.columns.to_list()

['code',
 'draw',
 'form',
 'id',
 'loss',
 'name',
 'played',
 'points',
 'position',
 'short_name',
 'strength',
 'team_division',
 'unavailable',
 'win',
 'strength_overall_home',
 'strength_overall_away',
 'strength_attack_home',
 'strength_attack_away',
 'strength_defence_home',
 'strength_defence_away',
 'pulse_id']

In [11]:
df_teams.head()

,code,draw,form,id,loss,name,played,points,position,short_name,...,team_division,unavailable,win,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,pulse_id
0,3,0,None,1,0,Arsenal,0,0,1,ARS,...,None,False,0,1320,1325,1350,1350,1290,1300,1
1,7,0,None,2,0,Aston Villa,0,0,11,AVL,...,None,False,0,1125,1250,1110,1200,1140,1300,2
2,90,0,None,3,0,Burnley,0,0,17,BUR,...,None,False,0,1050,1050,1050,1050,1050,1050,43
3,91,0,None,4,0,Bournemouth,0,0,3,BOU,...,None,False,0,1150,1180,1100,1160,1200,1200,127
4,94,0,None,5,0,Brentford,0,0,16,BRE,...,None,False,0,1120,1185,1080,1080,1160,1290,130

In [12]:
df_teams[['position','name', 'points', 'strength']].sort_values(by='position')

    position            name  points  strength
0          1         Arsenal       0         4
12         2        Man City       0         4
3          3     Bournemouth       0         3
11         4       Liverpool       0         5
6          5         Chelsea       0         4
17         6           Spurs       0         3
16         7      Sunderland       0         2
7          8  Crystal Palace       0         3
13         9         Man Utd       0         3
5         10        Brighton       0         3
1         11     Aston Villa       0         3
8         12         Everton       0         3
14        13       Newcastle       0         4
9         14          Fulham       0         3
10        15           Leeds       0         2
4         16       Brentford       0         3
2         17         Burnley       0         2
15        18   Nott'm Forest       0         3
18        19        West Ham       0         3
19        20          Wolves       0         3

### Most points in the season
#### df.n_largest to get top n in pandas
Usage: df.nlargest(n, 'column_name')

In [29]:
df_player_team = df_players.merge(df_teams, left_on='team', right_on='id')[['id_x', 'first_name', 'second_name', 'name', 'threat', 'total_points', 'element_type', 'now_cost', 'form_x', 'minutes', 'goals_scored', 'expected_goals', 'assists', 'expected_assists', 'creativity', 'influence', 'ict_index', 'clean_sheets', 'yellow_cards', 'red_cards']]
df_player_team.rename(columns={'id_x': 'Player_id', 'name': 'Team_name', 'form_x': 'player_form'}, inplace=True)
df_player_team.head()

,Player_id,first_name,second_name,Team_name,threat,total_points,element_type,now_cost,player_form,minutes,goals_scored,expected_goals,assists,expected_assists,creativity,influence,ict_index,clean_sheets,yellow_cards,red_cards
0,1,David,Raya Martín,Arsenal,0.0,40,1,57,4.0,720,0,0.00,0,0.04,10.0,140.4,15.0,5,1,0
1,2,Kepa,Arrizabalaga Revuelta,Arsenal,0.0,0,1,43,0.0,0,0,0.00,0,0.00,0.0,0.0,0.0,0,0,0
2,3,Karl,Hein,Arsenal,0.0,0,1,40,0.0,0,0,0.00,0,0.00,0.0,0.0,0.0,0,0,0
3,4,Tommy,Setford,Arsenal,0.0,0,1,40,0.0,0,0,0.00,0,0.00,0.0,0.0,0.0,0,0,0
4,5,Gabriel,dos Santos Magalhães,Arsenal,71.0,59,2,63,9.0,720,1,0.72,1,0.11,24.7,234.0,33.0,5,0,0

In [30]:
df_player_team.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 745 entries, 0 to 744
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Player_id         745 non-null    int64
 1   first_name        745 non-null    object
 2   second_name       745 non-null    object
 3   Team_name         745 non-null    object
 4   threat            745 non-null    float64
 5   total_points      745 non-null    int64
 6   element_type      745 non-null    int64
 7   now_cost          745 non-null    int64
 8   player_form       745 non-null    float64
 9   minutes           745 non-null    int64
 10  goals_scored      745 non-null    int64
 11  expected_goals    745 non-null    float64
 12  assists           745 non-null    int64
 13  expected_assists  745 non-null    float64
 14  creativity        745 non-null    float64
 15  influence         745 non-null    float64
 16  ict_index         745 non-null    float64
 17  clean_sheets      745 non-null    int64
 18  yellow_cards      745 non-null    int64
 19  red_cards         745 non-null    int64
dtypes: float64(7), int64(10), object(3)
memory usage: 116.5+ KB

In [37]:
df_player_team.threat.dtype

dtype('float64')

In [38]:
cols_to_convert = ['threat', 'player_form', 'expected_goals', 'expected_assists', 'creativity', 'influence', 'ict_index']
df_player_team[cols_to_convert] = df_player_team[cols_to_convert].apply(pd.to_numeric, errors='coerce')
df_player_team['threat'].dtype

dtype('float64')

In [39]:
cols_to_convert_pl = ['threat', 'form', 'expected_goals', 'expected_assists', 'creativity', 'influence', 'ict_index', 'points_per_game']
df_players[cols_to_convert_pl] = df_players[cols_to_convert_pl].apply(pd.to_numeric, errors='coerce')

In [40]:
df_player_team['influence'].isna().sum()

0

In [41]:
cols_to_compare = cols_to_convert
cols_to_compare += ['total_points', 'goals_scored', 'assists', 'minutes', 'now_cost']

In [42]:
cols_to_compare

['threat',
 'player_form',
 'expected_goals',
 'expected_assists',
 'creativity',
 'influence',
 'ict_index',
 'total_points',
 'goals_scored',
 'assists',
 'minutes',
 'now_cost']

In [44]:
df_player_team[cols_to_compare].corr()

,threat,player_form,expected_goals,expected_assists,creativity,influence,ict_index,total_points,goals_scored,assists,minutes,now_cost
threat,1.000000,0.660249,0.890968,0.606320,0.617571,0.624342,0.846707,0.696327,0.771629,0.484468,0.598209,0.662183
player_form,0.660249,1.000000,0.578580,0.586795,0.625863,0.850805,0.836544,0.904684,0.622441,0.554690,0.791503,0.428365
expected_goals,0.890968,0.578580,1.000000,0.427591,0.462868,0.542800,0.716791,0.595308,0.837744,0.337641,0.464229,0.620962
expected_assists,0.606320,0.586795,0.427591,1.000000,0.889920,0.586405,0.794272,0.631697,0.350131,0.629980,0.620936,0.460971
creativity,0.617571,0.625863,0.462868,0.889920,1.000000,0.619831,0.852714,0.673262,0.389765,0.612028,0.688035,0.484363
influence,0.624342,0.850805,0.542800,0.586405,0.619831,1.000000,0.889947,0.939448,0.580833,0.490243,0.910994,0.386483
ict_index,0.846707,0.836544,0.716791,0.794272,0.852714,0.889947,1.000000,0.905910,0.667522,0.608319,0.864699,0.575331
total_points,0.696327,0.904684,0.595308,0.631697,0.673262,0.939448,0.905910,1.000000,0.625171,0.585686,0.896301,0.468199
goals_scored,0.771629,0.622441,0.837744,0.350131,0.389765,0.580833,0.667522,0.625171,1.000000,0.280836,0.402325,0.545061
assists,0.484468,0.554690,0.337641,0.629980,0.612028,0.490243,0.608319,0.585686,0.280836,1.000000,0.469837,0.323925
minutes,0.598209,0.791503,0.464229,0.620936,0.688035,0.910994,0.864699,0.896301,0.402325,0.469837,1.000000,0.377767
now_cost,0.662183,0.428365,0.620962,0.460971,0.484363,0.386483,0.575331,0.468199,0.545061,0.323925,0.377767,1.000000

## Top 5 Features that affect the most points in a season

In [48]:
corr_matrix = df_player_team[cols_to_compare].corr()

corr_pairs = (
    corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(bool))
    .stack()
    .reset_index()
)
corr_pairs.columns = ['Feature 1', 'Feature 2', 'Correlation']
top5 = corr_pairs.reindex(corr_pairs['Correlation'].abs().sort_values(ascending=False).index).head(5)
top5

       Feature 1     Feature 2  Correlation
46     influence  total_points     0.939448
49     influence       minutes     0.910994
51     ict_index  total_points     0.905910
16   player_form  total_points     0.904684
58  total_points       minutes     0.896301

In [49]:
corr_pairs = corr_matrix.unstack().reset_index()
corr_pairs.columns = ['Feature 1', 'Feature 2', 'Correlation']
corr_pairs

    Feature 1         Feature 2  Correlation
0      threat            threat     1.000000
1      threat       player_form     0.660249
2      threat    expected_goals     0.890968
3      threat  expected_assists     0.606320
4      threat        creativity     0.617571
..        ...               ...          ...
139  now_cost      total_points     0.468199
140  now_cost      goals_scored     0.545061
141  now_cost           assists     0.323925
142  now_cost           minutes     0.377767
143  now_cost          now_cost     1.000000

[144 rows x 3 columns]

In [50]:
corr_pairs = corr_pairs[corr_pairs['Feature 1'] != corr_pairs['Feature 2']] # Remove self-correlations
corr_pairs = corr_pairs.drop_duplicates(subset=['Correlation']) # Remove duplicate pairs
corr_pairs.reindex(corr_pairs['Correlation'].abs().sort_values(ascending=False).index).head(10)

           Feature 1       Feature 2  Correlation
67         influence    total_points     0.939448
70         influence         minutes     0.910994
79         ict_index    total_points     0.905910
19       player_form    total_points     0.904684
94      total_points         minutes     0.896301
2             threat  expected_goals     0.890968
66         influence       ict_index     0.889947
40  expected_assists      creativity     0.889920
82         ict_index         minutes     0.864699
54        creativity       ict_index     0.852714

In [51]:
df_player_team.nlargest(10, 'influence')

,Player_id,first_name,second_name,Team_name,threat,total_points,element_type,now_cost,player_form,minutes,goals_scored,expected_goals,assists,expected_assists,creativity,influence,ict_index,clean_sheets,yellow_cards,red_cards
474,430,Erling,Haaland,Man City,472.0,83,4,146,11.5,683,11,8.62,1,0.59,57.0,402.2,93.2,5,0,0
134,82,Antoine,Semenyo,Bournemouth,239.0,70,3,80,8.5,720,6,3.78,4,0.40,135.4,311.6,68.7,3,2,0
124,72,Marcos,Senesi Barón,Bournemouth,29.0,48,2,50,5.0,707,0,0.16,2,1.10,68.1,271.0,36.9,3,2,0
416,373,Virgil,van Dijk,Liverpool,52.0,32,2,61,2.5,720,0,0.35,0,0.14,29.4,257.8,33.9,2,1,0
260,241,Moisés,Caicedo Corozo,Chelsea,51.0,46,3,58,4.2,675,3,0.53,0,0.25,60.0,254.0,36.4,2,1,0
114,470,Martin,Dúbravka,Burnley,0.0,29,1,40,4.0,720,0,0.00,0,0.00,0.0,250.6,25.2,2,0,0
4,5,Gabriel,dos Santos Magalhães,Arsenal,71.0,59,2,63,9.0,720,1,0.72,1,0.11,24.7,234.0,33.0,5,0,0
629,670,Robin,Roefs,Sunderland,0.0,48,1,46,5.2,720,0,0.00,0,0.01,20.0,231.4,25.0,4,1,0
207,151,Jan Paul,van Hecke,Brighton,66.0,26,2,44,4.8,720,1,0.46,0,0.22,13.9,229.0,31.0,0,2,0
498,449,Bruno,Borges Fernandes,Man Utd,135.0,36,3,89,5.0,710,2,3.89,1,1.42,314.2,229.0,67.9,1,2,0

In [53]:
# Ranking by players outperforming their xG
df_player_team['G - xG'] = df_player_team['goals_scored'] - df_player_team['expected_goals']
df_player_team.nlargest(10, 'G - xG')[['first_name', 'second_name', 'Team_name', 'goals_scored', 'expected_goals', 'G - xG', 'total_points', 'now_cost']]

,first_name,second_name,Team_name,goals_scored,expected_goals,G - xG,total_points,now_cost
260,Moisés,Caicedo Corozo,Chelsea,3,0.53,2.47,46,58
474,Erling,Haaland,Man City,11,8.62,2.38,83,146
134,Antoine,Semenyo,Bournemouth,6,3.78,2.22,70,80
700,Jarrod,Bowen,West Ham,3,0.83,2.17,35,78
94,Jaidon,Anthony,Burnley,4,2.16,1.84,43,57
24,Martín,Zubimendi Ibáñez,Arsenal,2,0.26,1.74,35,55
623,Wilson,Isidor,Sunderland,3,1.27,1.73,30,56
432,Ryan,Gravenberch,Liverpool,2,0.40,1.60,39,57
151,Eli Junior,Kroupi,Bournemouth,3,1.41,1.59,21,45
553,Nick,Woltemade,Newcastle,4,2.64,1.36,32,73

In [54]:
# Ranking by players outperforming their xA
df_player_team['A - xA'] = df_player_team['assists'] - df_player_team['expected_assists']
df_player_team.nlargest(10, 'A - xA')[['first_name', 'second_name', 'Team_name', 'assists', 'expected_assists', 'A - xA', 'total_points', 'now_cost', 'minutes']]

,first_name,second_name,Team_name,assists,expected_assists,A - xA,total_points,now_cost,minutes
653,Mohammed,Kudus,Spurs,5,1.21,3.79,41,68,708
134,Antoine,Semenyo,Bournemouth,4,0.40,3.60,70,80,720
679,El Hadji Malick,Diouf,West Ham,4,0.75,3.25,26,44,630
267,João Pedro,Junqueira de Jesus,Chelsea,3,0.44,2.56,41,76,673
464,Jérémy,Doku,Man City,4,1.52,2.48,30,66,443
214,Georginio,Rutter,Brighton,3,0.73,2.27,23,57,436
628,Granit,Xhaka,Sunderland,3,0.78,2.22,37,50,720
29,Eberechi,Eze,Arsenal,3,0.87,2.13,25,76,455
339,Jack,Grealish,Everton,4,1.89,2.11,37,69,556
244,Reece,James,Chelsea,3,0.89,2.11,37,54,513

In [55]:
df_player_team.loc[df_player_team['element_type'] == 3].nlargest(10, 'influence')[['first_name', 'second_name', 'Team_name', 'goals_scored', 'expected_goals', 'G - xG', 'expected_assists', 'A - xA', 'total_points', 'now_cost', 'influence', 'minutes']]

,first_name,second_name,Team_name,goals_scored,expected_goals,G - xG,expected_assists,A - xA,total_points,now_cost,influence,minutes
134,Antoine,Semenyo,Bournemouth,6,3.78,2.22,0.40,3.60,70,80,311.6,720
260,Moisés,Caicedo Corozo,Chelsea,3,0.53,2.47,0.25,-0.25,46,58,254.0,675
498,Bruno,Borges Fernandes,Man Utd,2,3.89,-1.89,1.42,-0.42,36,89,229.0,710
94,Jaidon,Anthony,Burnley,4,2.16,1.84,0.62,0.38,43,57,219.0,669
324,Iliman,Ndiaye,Everton,3,2.20,0.80,1.60,-0.60,41,65,218.6,673
339,Jack,Grealish,Everton,1,0.85,0.15,1.89,2.11,37,69,207.6,556
328,James,Garner,Everton,1,0.67,0.33,1.06,-0.06,36,50,203.6,720
628,Granit,Xhaka,Sunderland,0,0.17,-0.17,0.78,2.22,37,50,202.6,720
99,Josh,Cullen,Burnley,1,0.18,0.82,0.61,0.39,40,50,199.6,680
653,Mohammed,Kudus,Spurs,1,1.29,-0.29,1.21,3.79,41,68,194.2,708

In [129]:
df_player_team.nlargest(10, 'assists')[['first_name', 'second_name', 'Team_name', 'assists', 'expected_assists', 'A - xA', 'total_points', 'now_cost', 'minutes']]

,first_name,second_name,Team_name,assists,expected_assists,A - xA,total_points,now_cost,minutes
652,Mohammed,Kudus,Spurs,5,1.14,3.86,39,67,618
338,Jack,Grealish,Everton,4,1.89,2.11,37,69,556
463,Jérémy,Doku,Man City,4,1.33,2.67,29,66,385
677,El Hadji Malick,Diouf,West Ham,4,0.75,3.25,26,44,630
19,Declan,Rice,Arsenal,3,1.16,1.84,40,65,542
29,Eberechi,Eze,Arsenal,3,0.84,2.16,22,76,394
134,Antoine,Semenyo,Bournemouth,3,0.37,2.63,66,79,630
266,João Pedro,Junqueira de Jesus,Chelsea,3,0.23,2.77,39,77,583
627,Granit,Xhaka,Sunderland,3,0.72,2.28,32,50,630
6,Riccardo,Calafiori,Arsenal,2,0.15,1.85,42,57,524

In [60]:
df_players.loc[df_players['element_type'] == 4].nlargest(10, 'now_cost')[['first_name', 'second_name', 'now_cost', 'cost_change_event','cost_change_event_fall','cost_change_start','cost_change_start_fall']]

,first_name,second_name,now_cost,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall
474,Erling,Haaland,146,0,0,6,-6
440,Alexander,Isak,106,0,0,1,-1
31,Viktor,Gyökeres,91,0,0,1,-1
441,Hugo,Ekitiké,87,0,0,2,-2
66,Ollie,Watkins,86,0,0,-4,4
700,Jarrod,Bowen,78,0,0,-2,2
267,João Pedro,Junqueira de Jesus,76,0,0,1,-1
303,Jean-Philippe,Mateta,75,0,0,0,0
519,Yoane,Wissa,74,0,0,-1,1
27,Kai,Havertz,73,0,0,-2,2

In [62]:
df_players.nlargest(20, 'total_points')[['id', 'first_name', 'second_name', 'team', 'ep_next','total_points', 'element_type', 'now_cost', 'form', 'minutes', 'goals_scored', 'assists', 'clean_sheets', 'yellow_cards', 'red_cards']]

,id,first_name,second_name,team,ep_next,total_points,element_type,now_cost,form,minutes,goals_scored,assists,clean_sheets,yellow_cards,red_cards
474,430,Erling,Haaland,13,12.0,83,4,146,11.5,683,11,1,5,0,0
134,82,Antoine,Semenyo,4,8.5,70,3,80,8.5,720,6,4,3,2,0
4,5,Gabriel,dos Santos Magalhães,1,9.5,59,2,63,9.0,720,1,1,5,0,0
7,8,Jurriën,Timber,1,5.5,54,2,59,5.0,611,2,2,4,2,0
281,260,Marc,Guéhi,8,4.7,50,2,49,5.2,720,1,3,3,0,0
6,7,Riccardo,Calafiori,1,4.3,48,2,57,3.8,614,1,2,5,3,0
124,72,Marcos,Senesi Barón,4,5.0,48,2,50,5.0,707,0,2,3,2,0
629,670,Robin,Roefs,17,4.2,48,1,46,5.2,720,0,0,4,1,0
260,241,Moisés,Caicedo Corozo,7,5.2,46,3,58,4.2,675,3,0,2,1,0
277,256,Daniel,Muñoz Mejía,8,5.0,46,2,56,5.5,720,1,3,3,3,0
526,476,Dan,Burn,15,6.0,45,2,51,5.5,720,0,1,5,3,0
631,683,Omar,Alderete,17,5.8,45,2,41,6.8,667,1,1,3,1,0
632,694,Nordi,Mukiele,17,6.5,44,2,40,7.5,540,1,0,3,0,0
19,21,Declan,Rice,1,7.0,43,3,66,6.5,632,1,3,4,0,0
94,200,Jaidon,Anthony,3,4.3,43,3,57,4.8,669,4,1,3,3,0
520,469,Nick,Pope,15,4.7,43,1,52,4.2,720,0,1,5,1,0
245,226,Trevoh,Chalobah,7,3.8,41,2,51,2.8,570,2,1,3,1,1
256,237,Enzo,Fernández,7,3.0,41,3,67,3.0,618,3,2,2,1,0
267,249,João Pedro,Junqueira de Jesus,7,3.0,41,4,76,2.0,673,2,3,3,0,0
324,299,Iliman,Ndiaye,9,4.8,41,3,65,4.8,673,3,1,2,2,0

## Focus on Midfielders

In [72]:
mid_players = df_players.loc[(df_players['element_type'] == 3) & (df_players['now_cost'] < 84)].merge(df_teams, left_on='team', right_on='id')

stat_to_sort_by = 'points_per_game'

mid_players.nlargest(10, stat_to_sort_by)[['first_name', 'second_name', 'name', 'total_points', 'now_cost', stat_to_sort_by, 'minutes', 'goals_scored', 'assists', 'clean_sheets', 'yellow_cards', 'red_cards', 'clearances_blocks_interceptions',
 'recoveries',
 'tackles',
 'defensive_contribution', 'bonus', 'bps']].reset_index(drop=True)

,first_name,second_name,name,total_points,now_cost,points_per_game,minutes,goals_scored,assists,clean_sheets,yellow_cards,red_cards,clearances_blocks_interceptions,recoveries,tackles,defensive_contribution,bonus,bps
0,Antoine,Semenyo,Bournemouth,70,80,8.8,720,6,4,3,2,0,8,42,13,63,9,197
1,Ismaïla,Sarr,Crystal Palace,38,65,6.3,522,3,1,3,1,0,10,18,7,35,6,114
2,Matt,O'Riley,Brighton,12,55,6.0,177,1,0,1,0,0,3,2,4,9,2,36
3,Enzo,Fernández,Chelsea,41,67,5.9,618,3,2,2,1,0,8,23,14,45,3,147
4,Moisés,Caicedo Corozo,Chelsea,46,58,5.8,675,3,0,2,1,0,33,41,28,102,7,192
5,Ryan,Gravenberch,Liverpool,39,57,5.6,601,2,2,2,2,0,19,28,13,60,7,165
6,Declan,Rice,Arsenal,43,66,5.4,632,1,3,4,0,0,17,31,6,54,6,164
7,Jaidon,Anthony,Burnley,43,57,5.4,669,4,1,3,3,0,15,35,12,62,5,146
8,Jack,Grealish,Everton,37,69,5.3,556,1,4,2,2,0,11,31,10,52,7,178
9,Iliman,Ndiaye,Everton,41,65,5.1,673,3,1,2,2,0,9,53,20,82,1,166

In [70]:
mid_stats_corr = mid_players[['total_points', 'now_cost', 'influence', 'minutes', 'goals_scored', 'assists', 'clean_sheets', 'yellow_cards', 'red_cards', 'clearances_blocks_interceptions', 'expected_goals', 'expected_assists',
 'recoveries',
 'tackles',
 'defensive_contribution', 'bonus']].corr()

mid_stats_corr.style.background_gradient(cmap='coolwarm')

In [85]:
corr_pairs = (
    mid_stats_corr.where(np.triu(np.ones(mid_stats_corr.shape), k=1).astype(bool))
    .stack()
    .reset_index()
)
corr_pairs.columns = ['Feature 1', 'Feature 2', 'Correlation']
corr_pairs = corr_pairs[(corr_pairs['Feature 1'] == 'total_points') | (corr_pairs['Feature 2'] == 'total_points')]

top5 = corr_pairs.reindex(corr_pairs['Correlation'].abs().sort_values(ascending=False).index).head(5)
top5

       Feature 1               Feature 2  Correlation
1   total_points               influence     0.972938
2   total_points                 minutes     0.916807
11  total_points              recoveries     0.855039
13  total_points  defensive_contribution     0.844060
14  total_points                   bonus     0.779474

In [82]:
stat_to_sort_by = 'influence'

mid_players.nlargest(10, stat_to_sort_by)[['first_name', 'second_name', 'name', 'total_points', 'now_cost', stat_to_sort_by, 'minutes', 'goals_scored', 'assists', 'clean_sheets', 'yellow_cards', 'red_cards', 'clearances_blocks_interceptions', 'expected_goals', 'expected_assists',
 'recoveries',
 'tackles',
 'defensive_contribution', 'bonus', 'bps']].reset_index(drop=True)

,first_name,second_name,name,total_points,now_cost,influence,minutes,goals_scored,assists,clean_sheets,yellow_cards,red_cards,clearances_blocks_interceptions,expected_goals,expected_assists,recoveries,tackles,defensive_contribution,bonus,bps
0,Antoine,Semenyo,Bournemouth,70,80,311.6,720,6,4,3,2,0,8,3.78,0.40,42,13,63,9,197
1,Moisés,Caicedo Corozo,Chelsea,46,58,254.0,675,3,0,2,1,0,33,0.53,0.25,41,28,102,7,192
2,Jaidon,Anthony,Burnley,43,57,219.0,669,4,1,3,3,0,15,2.16,0.62,35,12,62,5,146
3,Iliman,Ndiaye,Everton,41,65,218.6,673,3,1,2,2,0,9,2.20,1.60,53,20,82,1,166
4,Jack,Grealish,Everton,37,69,207.6,556,1,4,2,2,0,11,0.85,1.89,31,10,52,7,178
5,James,Garner,Everton,36,50,203.6,720,1,1,2,3,0,44,0.67,1.06,31,20,95,5,177
6,Granit,Xhaka,Sunderland,37,50,202.6,720,0,3,4,3,0,47,0.17,0.78,41,13,101,1,158
7,Josh,Cullen,Burnley,40,50,199.6,680,1,1,3,0,0,43,0.18,0.61,35,15,93,5,162
8,Mohammed,Kudus,Spurs,41,68,194.2,708,1,5,3,2,0,1,1.29,1.21,35,17,53,4,124
9,Enzo,Fernández,Chelsea,41,67,188.4,618,3,2,2,1,0,8,3.76,0.51,23,14,45,3,147

In [86]:
stat_to_sort_by = 'defensive_contribution'

mid_players.nlargest(10, stat_to_sort_by)[['first_name', 'second_name', 'name', 'total_points', 'now_cost', stat_to_sort_by, 'minutes', 'goals_scored', 'assists', 'clean_sheets', 'yellow_cards', 'red_cards', 'clearances_blocks_interceptions', 'expected_goals', 'expected_assists',
 'recoveries',
 'tackles',
 'defensive_contribution', 'bonus', 'bps']].reset_index(drop=True)

,first_name,second_name,name,total_points,now_cost,defensive_contribution,minutes,goals_scored,assists,clean_sheets,yellow_cards,red_cards,clearances_blocks_interceptions,expected_goals,expected_assists,recoveries,tackles,defensive_contribution,bonus,bps
0,Moisés,Caicedo Corozo,Chelsea,46,58,102,675,3,0,2,1,0,33,0.53,0.25,41,28,102,7,192
1,Elliot,Anderson,Nott'm Forest,26,54,101,720,0,1,0,2,0,15,0.63,1.01,64,22,101,1,147
2,Granit,Xhaka,Sunderland,37,50,101,720,0,3,4,3,0,47,0.17,0.78,41,13,101,1,158
3,Tyler,Adams,Bournemouth,21,50,99,694,0,0,3,4,0,34,0.17,0.19,42,23,99,0,123
4,James,Garner,Everton,36,50,95,720,1,1,2,3,0,44,0.67,1.06,31,20,95,5,177
5,Josh,Cullen,Burnley,40,50,93,680,1,1,3,0,0,43,0.18,0.61,35,15,93,5,162
6,Dominik,Szoboszlai,Liverpool,31,65,91,720,1,0,2,2,0,30,1.00,0.78,46,15,91,4,155
7,João Victor,Gomes da Silva,Wolves,20,54,88,678,0,0,1,3,0,27,0.34,0.42,38,23,88,0,115
8,Iliman,Ndiaye,Everton,41,65,82,673,3,1,2,2,0,9,2.20,1.60,53,20,82,1,166
9,André,Trindade da Costa Neto,Wolves,21,54,82,532,0,0,0,2,0,20,0.04,0.12,47,15,82,1,93

## Focus on Defenders

In [74]:
df_players.columns.to_list()

['can_transact',
 'can_select',
 'chance_of_playing_next_round',
 'chance_of_playing_this_round',
 'code',
 'cost_change_event',
 'cost_change_event_fall',
 'cost_change_start',
 'cost_change_start_fall',
 'dreamteam_count',
 'element_type',
 'ep_next',
 'ep_this',
 'event_points',
 'first_name',
 'form',
 'id',
 'in_dreamteam',
 'news',
 'news_added',
 'now_cost',
 'photo',
 'points_per_game',
 'removed',
 'second_name',
 'selected_by_percent',
 'special',
 'squad_number',
 'status',
 'team',
 'team_code',
 'total_points',
 'transfers_in',
 'transfers_in_event',
 'transfers_out',
 'transfers_out_event',
 'value_form',
 'value_season',
 'web_name',
 'region',
 'team_join_date',
 'birth_date',
 'has_temporary_code',
 'opta_code',
 'minutes',
 'goals_scored',
 'assists',
 'clean_sheets',
 'goals_conceded',
 'own_goals',
 'penalties_saved',
 'penalties_missed',
 'yellow_cards',
 'red_cards',
 'saves',
 'bonus',
 'bps',
 'influence',
 'creativity',
 'threat',
 'ict_index',
 'clearances_blocks_interceptions',
 'recoveries',
 'tackles',
 'defensive_contribution',
 'starts',
 'expected_goals',
 'expected_assists',
 'expected_goal_involvements',
 'expected_goals_conceded',
 'influence_rank',
 'influence_rank_type',
 'creativity_rank',
 'creativity_rank_type',
 'threat_rank',
 'threat_rank_type',
 'ict_index_rank',
 'ict_index_rank_type',
 'corners_and_indirect_freekicks_order',
 'corners_and_indirect_freekicks_text',
 'direct_freekicks_order',
 'direct_freekicks_text',
 'penalties_order',
 'penalties_text',
 'expected_goals_per_90',
 'saves_per_90',
 'expected_assists_per_90',
 'expected_goal_involvements_per_90',
 'expected_goals_conceded_per_90',
 'goals_conceded_per_90',
 'now_cost_rank',
 'now_cost_rank_type',
 'form_rank',
 'form_rank_type',
 'points_per_game_rank',
 'points_per_game_rank_type',
 'selected_rank',
 'selected_rank_type',
 'starts_per_90',
 'clean_sheets_per_90',
 'defensive_contribution_per_90']

In [87]:
def_players = df_players.loc[df_players['element_type'] == 2].merge(df_teams, left_on='team', right_on='id')

stat_to_sort_by = 'clearances_blocks_interceptions'

def_players.nlargest(10, stat_to_sort_by)[['first_name', 'second_name', 'name', 'total_points', 'now_cost', stat_to_sort_by, 'minutes', 'goals_scored', 'assists', 'clean_sheets', 'yellow_cards', 'red_cards', 'clearances_blocks_interceptions',
 'recoveries',
 'tackles',
 'defensive_contribution', 'bonus', 'bps']].reset_index(drop=True)

,first_name,second_name,name,total_points,now_cost,clearances_blocks_interceptions,minutes,goals_scored,assists,clean_sheets,yellow_cards,red_cards,clearances_blocks_interceptions,recoveries,tackles,defensive_contribution,bonus,bps
0,Marcos,Senesi Barón,Bournemouth,48,50,94,707,0,2,3,2,0,94,30,14,108,6,152
1,Virgil,van Dijk,Liverpool,32,61,91,720,0,0,2,1,0,91,18,4,95,4,119
2,James,Tarkowski,Everton,35,55,78,720,0,0,2,1,0,78,25,14,92,1,118
3,Maxime,Estève,Burnley,23,40,72,712,0,0,2,0,0,72,18,9,81,0,61
4,Michael,Keane,Everton,36,45,70,694,1,0,2,0,0,70,25,7,77,1,103
5,Joachim,Andersen,Fulham,30,45,70,671,0,0,1,0,0,70,28,15,85,2,108
6,Chris,Richards,Crystal Palace,36,45,68,720,0,0,3,0,0,68,9,20,88,0,137
7,Gabriel,dos Santos Magalhães,Arsenal,59,63,65,720,1,1,5,0,0,65,14,10,75,8,202
8,Jan Paul,van Hecke,Brighton,26,44,65,720,1,0,0,2,0,65,26,11,76,3,91
9,Maxence,Lacroix,Crystal Palace,38,51,63,720,0,1,3,1,0,63,25,16,79,2,137

In [88]:
def_stats_corr = def_players[['total_points', 'now_cost', 'influence', 'minutes', 'goals_scored', 'assists', 'clean_sheets', 'yellow_cards', 'red_cards', 'clearances_blocks_interceptions',
 'recoveries',
 'tackles',
 'defensive_contribution', 'bonus']].corr()

def_stats_corr.style.background_gradient(cmap='coolwarm')

In [89]:
corr_pairs = (
    def_stats_corr.where(np.triu(np.ones(def_stats_corr.shape), k=1).astype(bool))
    .stack()
    .reset_index()
)
corr_pairs.columns = ['Feature 1', 'Feature 2', 'Correlation']
# Filter where at least one feature is 'total_points'
corr_pairs = corr_pairs[(corr_pairs['Feature 1'] == 'total_points') | (corr_pairs['Feature 2'] == 'total_points')]

top5 = corr_pairs.reindex(corr_pairs['Correlation'].abs().sort_values(ascending=False).index).head(5)
top5

       Feature 1                        Feature 2  Correlation
1   total_points                        influence     0.916940
5   total_points                     clean_sheets     0.906897
2   total_points                          minutes     0.882404
11  total_points           defensive_contribution     0.868158
8   total_points  clearances_blocks_interceptions     0.828277

### Keeper with most points and details

In [90]:
df_gk = df_players[df_players['element_type'] == 1]
df_gk.nlargest(10, 'total_points')[['id', 'first_name', 'second_name', 'team', 'total_points', 'now_cost', 'form', 'minutes', 'saves', 'clean_sheets', 'expected_goals_conceded', 'penalties_saved', 'chance_of_playing_next_round']]

,id,first_name,second_name,team,total_points,now_cost,form,minutes,saves,clean_sheets,expected_goals_conceded,penalties_saved,chance_of_playing_next_round
629,670,Robin,Roefs,17,48,46,5.2,720,27,4,9.59,1,NaN
520,469,Nick,Pope,15,43,52,4.2,720,22,5,5.89,0,NaN
0,1,David,Raya Martín,1,40,57,4.0,720,15,5,4.84,0,NaN
636,565,Guglielmo,Vicario,18,36,51,1.8,720,24,3,9.20,0,NaN
312,287,Jordan,Pickford,9,32,55,2.0,720,22,2,12.26,1,NaN
114,470,Martin,Dúbravka,3,29,40,4.0,720,33,2,16.30,0,100.0
119,67,Đorđe,Petrović,4,29,45,3.5,720,23,3,10.78,0,NaN
274,253,Dean,Henderson,8,28,50,1.8,720,18,3,10.88,0,NaN
239,220,Robert,Lynch Sánchez,7,24,49,1.2,634,15,3,10.47,0,NaN
346,314,Bernd,Leno,10,23,50,1.8,720,23,1,10.95,0,NaN

In [100]:
small_df_gk = df_gk[['total_points', 'now_cost', 'form', 'minutes', 'saves', 'clean_sheets', 'expected_goals_conceded', 'penalties_saved', 'clearances_blocks_interceptions',
 'recoveries',
 'tackles', 'bonus']]

In [101]:
gk_corr = small_df_gk.corr()

gk_corr.style.background_gradient(cmap='coolwarm')

In [102]:
corr_pairs = (
    gk_corr.where(np.triu(np.ones(gk_corr.shape), k=1).astype(bool))
    .stack()
    .reset_index()
)
corr_pairs.columns = ['Feature 1', 'Feature 2', 'Correlation']
top5 = corr_pairs.reindex(corr_pairs['Correlation'].abs().sort_values(ascending=False).index).head(10)
top5

                  Feature 1                        Feature 2  Correlation
35                  minutes                       recoveries     0.982132
30                  minutes                            saves     0.955092
39                    saves          expected_goals_conceded     0.955089
32                  minutes          expected_goals_conceded     0.953768
42                    saves                       recoveries     0.941184
2              total_points                          minutes     0.925353
8              total_points                       recoveries     0.924252
4              total_points                     clean_sheets     0.922458
53  expected_goals_conceded                       recoveries     0.914255
34                  minutes  clearances_blocks_interceptions     0.910328

In [103]:
df_gk = df_players[df_players['element_type'] == 1]
df_gk.nlargest(10, 'total_points')[['id', 'first_name', 'second_name', 'team', 'total_points', 'now_cost', 'form', 'minutes', 'saves', 'clean_sheets', 'expected_goals_conceded', 'penalties_saved', 'chance_of_playing_next_round']].reset_index(inplace=False)

,index,id,first_name,second_name,team,total_points,now_cost,form,minutes,saves,clean_sheets,expected_goals_conceded,penalties_saved,chance_of_playing_next_round
0,629,670,Robin,Roefs,17,48,46,5.2,720,27,4,9.59,1,NaN
1,520,469,Nick,Pope,15,43,52,4.2,720,22,5,5.89,0,NaN
2,0,1,David,Raya Martín,1,40,57,4.0,720,15,5,4.84,0,NaN
3,636,565,Guglielmo,Vicario,18,36,51,1.8,720,24,3,9.20,0,NaN
4,312,287,Jordan,Pickford,9,32,55,2.0,720,22,2,12.26,1,NaN
5,114,470,Martin,Dúbravka,3,29,40,4.0,720,33,2,16.30,0,100.0
6,119,67,Đorđe,Petrović,4,29,45,3.5,720,23,3,10.78,0,NaN
7,274,253,Dean,Henderson,8,28,50,1.8,720,18,3,10.88,0,NaN
8,239,220,Robert,Lynch Sánchez,7,24,49,1.2,634,15,3,10.47,0,NaN
9,346,314,Bernd,Leno,10,23,50,1.8,720,23,1,10.95,0,NaN

### Merge players and teams dataframes to get team names in players dataframe

In [104]:
positions_df = pd.DataFrame(bootstrap.get_positions())
positions_df.head()

,id,plural_name,plural_name_short,singular_name,singular_name_short,squad_select,squad_min_select,squad_max_select,squad_min_play,squad_max_play,ui_shirt_specific,sub_positions_locked,element_count
0,1,Goalkeepers,GKP,Goalkeeper,GKP,2,None,None,1,1,True,[12],86
1,2,Defenders,DEF,Defender,DEF,5,None,None,3,5,False,[],246
2,3,Midfielders,MID,Midfielder,MID,5,None,None,2,5,False,[],331
3,4,Forwards,FWD,Forward,FWD,3,None,None,1,3,False,[],82

In [105]:
df_players[['id', 'first_name', 'second_name', 'team', 'threat', 'total_points', 'element_type', 'now_cost', 'form', 'minutes', 'goals_scored','news']]

,id,first_name,second_name,team,threat,total_points,element_type,now_cost,form,minutes,goals_scored,news
0,1,David,Raya Martín,1,0.0,40,1,57,4.0,720,0,
1,2,Kepa,Arrizabalaga Revuelta,1,0.0,0,1,43,0.0,0,0,
2,3,Karl,Hein,1,0.0,0,1,40,0.0,0,0,Has joined Werder Bremen on loan for the rest ...
3,4,Tommy,Setford,1,0.0,0,1,40,0.0,0,0,
4,5,Gabriel,dos Santos Magalhães,1,71.0,59,2,63,9.0,720,1,
...,...,...,...,...,...,...,...,...,...,...,...,...
740,663,Jhon,Arias,20,66.0,16,3,52,2.8,433,0,
741,682,David,Møller Wolfe,20,4.0,7,2,44,0.2,144,0,
742,695,Jackson,Tchatchoua,20,18.0,10,2,45,1.8,368,0,
743,709,Ladislav,Krejcí,20,78.0,11,2,45,2.5,450,1,
744,720,Tolu,Arokodare,20,65.0,7,4,55,1.2,176,0,

In [106]:
new_df = df_players[['id', 'first_name', 'second_name', 'team', 'threat', 'total_points', 'element_type', 'now_cost', 'form', 'minutes', 'goals_scored','points_per_game']]

new_df = new_df.merge(df_teams, left_on='team', right_on='id')[['first_name', 'second_name', 'name', 'threat', 'total_points', 'now_cost', 'form_x', 'minutes', 'goals_scored','points_per_game']]

In [107]:
new_df.rename(columns={'id': 'Player_id'}, inplace=True)

In [108]:
new_df.head()

,first_name,second_name,name,threat,total_points,now_cost,form_x,minutes,goals_scored,points_per_game
0,David,Raya Martín,Arsenal,0.0,40,57,4.0,720,0,5.0
1,Kepa,Arrizabalaga Revuelta,Arsenal,0.0,0,43,0.0,0,0,0.0
2,Karl,Hein,Arsenal,0.0,0,40,0.0,0,0,0.0
3,Tommy,Setford,Arsenal,0.0,0,40,0.0,0,0,0.0
4,Gabriel,dos Santos Magalhães,Arsenal,71.0,59,63,9.0,720,1,7.4

In [109]:
# points per million

new_df['ppm'] = new_df['total_points'] / (new_df['now_cost'] / 10)
new_df.sort_values(by='ppm', ascending=False)

,first_name,second_name,name,threat,total_points,now_cost,form_x,minutes,goals_scored,points_per_game,ppm
632,Nordi,Mukiele,Sunderland,42.0,44,40,7.5,540,1,7.3,11.000000
631,Omar,Alderete,Sunderland,77.0,45,41,6.8,667,1,5.6,10.975610
629,Robin,Roefs,Sunderland,0.0,48,46,5.2,720,0,6.0,10.434783
281,Marc,Guéhi,Crystal Palace,92.0,50,49,5.2,720,1,6.2,10.204082
124,Marcos,Senesi Barón,Bournemouth,29.0,48,50,5.0,707,0,6.0,9.600000
...,...,...,...,...,...,...,...,...,...,...,...
174,Benjamin,Fredrick,Brentford,0.0,0,40,0.0,0,0,0.0,0.000000
173,Benjamin,Arthur,Brentford,0.0,0,39,0.0,0,0,0.0,0.000000
171,Mads,Roerslev Rasmussen,Brentford,0.0,0,45,0.0,0,0,0.0,0.000000
170,Ethan,Pinnock,Brentford,10.0,0,44,-0.2,155,0,0.0,0.000000
531,Alex,Murphy,Newcastle,0.0,0,39,0.0,0,0,0.0,0.000000

## Playing around

In [110]:
# Find Value XI

'''
Good value = 
    - played at least 500 mins
    - points per game > 5
    - points per million > 15

'''

value_xi = new_df.loc[(new_df['minutes'] >= 500) & (new_df['points_per_game'] > 5) & (new_df['ppm'] > 7)]
value_xi.nlargest(20, 'ppm')[['first_name', 'second_name', 'name', 'threat', 'total_points', 'now_cost', 'form_x', 'minutes', 'goals_scored','points_per_game', 'ppm']].reset_index(drop=True)

,first_name,second_name,name,threat,total_points,now_cost,form_x,minutes,goals_scored,points_per_game,ppm
0,Nordi,Mukiele,Sunderland,42.0,44,40,7.5,540,1,7.3,11.000000
1,Omar,Alderete,Sunderland,77.0,45,41,6.8,667,1,5.6,10.975610
2,Robin,Roefs,Sunderland,0.0,48,46,5.2,720,0,6.0,10.434783
3,Marc,Guéhi,Crystal Palace,92.0,50,49,5.2,720,1,6.2,10.204082
4,Marcos,Senesi Barón,Bournemouth,29.0,48,50,5.0,707,0,6.0,9.600000
5,Gabriel,dos Santos Magalhães,Arsenal,71.0,59,63,9.0,720,1,7.4,9.365079
6,Jurriën,Timber,Arsenal,189.0,54,59,5.0,611,2,6.8,9.152542
7,Dan,Burn,Newcastle,37.0,45,51,5.5,720,0,5.6,8.823529
8,Antoine,Semenyo,Bournemouth,239.0,70,80,8.5,720,6,8.8,8.750000
9,Riccardo,Calafiori,Arsenal,127.0,48,57,3.8,614,1,6.0,8.421053
10,Nick,Pope,Newcastle,0.0,43,52,4.2,720,0,5.4,8.269231
11,Daniel,Muñoz Mejía,Crystal Palace,160.0,46,56,5.5,720,1,5.8,8.214286
12,Trevoh,Chalobah,Chelsea,76.0,41,51,2.8,570,2,5.9,8.039216
13,Moisés,Caicedo Corozo,Chelsea,51.0,46,58,4.2,675,3,5.8,7.931034
14,Jaidon,Anthony,Burnley,174.0,43,57,4.8,669,4,5.4,7.543860
15,Tino,Livramento,Newcastle,16.0,37,50,3.0,526,0,6.2,7.400000