In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
from utils.bootstrap_api import BootstrapAPI
from utils.fpl_api_client import FPLApiClient

In [3]:
client = FPLApiClient()
bootstrap = BootstrapAPI(client)

## Fetching Players and converting to a pandas dataframe

In [4]:
players = bootstrap.get_players()
df_players = pd.DataFrame(players)

#### Checking all the columns that exist in the players dataframe

In [5]:
df_players.columns.to_list()

['can_transact',
 'can_select',
 'chance_of_playing_next_round',
 'chance_of_playing_this_round',
 'code',
 'cost_change_event',
 'cost_change_event_fall',
 'cost_change_start',
 'cost_change_start_fall',
 'dreamteam_count',
 'element_type',
 'ep_next',
 'ep_this',
 'event_points',
 'first_name',
 'form',
 'id',
 'in_dreamteam',
 'news',
 'news_added',
 'now_cost',
 'photo',
 'points_per_game',
 'removed',
 'second_name',
 'selected_by_percent',
 'special',
 'squad_number',
 'status',
 'team',
 'team_code',
 'total_points',
 'transfers_in',
 'transfers_in_event',
 'transfers_out',
 'transfers_out_event',
 'value_form',
 'value_season',
 'web_name',
 'region',
 'team_join_date',
 'birth_date',
 'has_temporary_code',
 'opta_code',
 'minutes',
 'goals_scored',
 'assists',
 'clean_sheets',
 'goals_conceded',
 'own_goals',
 'penalties_saved',
 'penalties_missed',
 'yellow_cards',
 'red_cards',
 'saves',
 'bonus',
 'bps',
 'influence',
 'creativity',
 'threat',
 'ict_index',
 'clearances_blocks_interceptions',
 'recoveries',
 'tackles',
 'defensive_contribution',
 'starts',
 'expected_goals',
 'expected_assists',
 'expected_goal_involvements',
 'expected_goals_conceded',
 'influence_rank',
 'influence_rank_type',
 'creativity_rank',
 'creativity_rank_type',
 'threat_rank',
 'threat_rank_type',
 'ict_index_rank',
 'ict_index_rank_type',
 'corners_and_indirect_freekicks_order',
 'corners_and_indirect_freekicks_text',
 'direct_freekicks_order',
 'direct_freekicks_text',
 'penalties_order',
 'penalties_text',
 'expected_goals_per_90',
 'saves_per_90',
 'expected_assists_per_90',
 'expected_goal_involvements_per_90',
 'expected_goals_conceded_per_90',
 'goals_conceded_per_90',
 'now_cost_rank',
 'now_cost_rank_type',
 'form_rank',
 'form_rank_type',
 'points_per_game_rank',
 'points_per_game_rank_type',
 'selected_rank',
 'selected_rank_type',
 'starts_per_90',
 'clean_sheets_per_90',
 'defensive_contribution_per_90']

In [6]:
df_players.head()

,can_transact,can_select,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,...,now_cost_rank_type,form_rank,form_rank_type,points_per_game_rank,points_per_game_rank_type,selected_rank,selected_rank_type,starts_per_90,clean_sheets_per_90,defensive_contribution_per_90
0,True,True,NaN,NaN,154561,1,-1,2,-2,1,...,1,66,3,42,5,11,2,1.0,0.57,0.00
1,True,True,NaN,NaN,109745,0,0,-2,2,0,...,35,503,72,536,75,234,32,0.0,0.00,0.00
2,True,False,0.0,0.0,463748,0,0,0,0,0,...,66,462,55,497,58,297,43,0.0,0.00,0.00
3,True,True,NaN,NaN,551221,0,0,0,0,0,...,79,488,68,521,71,349,53,0.0,0.00,0.00
4,True,True,100.0,75.0,226597,1,-1,3,-3,1,...,1,3,1,6,2,10,3,1.0,0.57,9.43

## Fetching Teams and converting to a pandas dataframe

In [7]:
teams = bootstrap.get_teams()
df_teams = pd.DataFrame(teams)

In [8]:
df_teams.columns.to_list()

['code',
 'draw',
 'form',
 'id',
 'loss',
 'name',
 'played',
 'points',
 'position',
 'short_name',
 'strength',
 'team_division',
 'unavailable',
 'win',
 'strength_overall_home',
 'strength_overall_away',
 'strength_attack_home',
 'strength_attack_away',
 'strength_defence_home',
 'strength_defence_away',
 'pulse_id']

In [9]:
df_teams.head()

,code,draw,form,id,loss,name,played,points,position,short_name,...,team_division,unavailable,win,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,pulse_id
0,3,0,None,1,0,Arsenal,0,0,1,ARS,...,None,False,0,1320,1325,1350,1350,1290,1300,1
1,7,0,None,2,0,Aston Villa,0,0,13,AVL,...,None,False,0,1125,1250,1110,1200,1140,1300,2
2,90,0,None,3,0,Burnley,0,0,18,BUR,...,None,False,0,1050,1050,1050,1050,1050,1050,43
3,91,0,None,4,0,Bournemouth,0,0,4,BOU,...,None,False,0,1150,1180,1100,1160,1200,1200,127
4,94,0,None,5,0,Brentford,0,0,16,BRE,...,None,False,0,1120,1185,1080,1080,1160,1290,130

In [10]:
df_teams[['position','name', 'points', 'strength']].sort_values(by='position')

    position            name  points  strength
0          1         Arsenal       0         4
11         2       Liverpool       0         5
17         3           Spurs       0         3
3          4     Bournemouth       0         3
12         5        Man City       0         4
7          6  Crystal Palace       0         3
6          7         Chelsea       0         4
8          8         Everton       0         3
16         9      Sunderland       0         2
13        10         Man Utd       0         3
14        11       Newcastle       0         4
5         12        Brighton       0         3
1         13     Aston Villa       0         3
9         14          Fulham       0         3
10        15           Leeds       0         2
4         16       Brentford       0         3
15        17   Nott'm Forest       0         3
2         18         Burnley       0         2
18        19        West Ham       0         3
19        20          Wolves       0         3

### Most points in the season
#### df.n_largest to get top n in pandas
Usage: df.nlargest(n, 'column_name')

In [11]:
df_player_team = df_players.merge(df_teams, left_on='team', right_on='id')[['id_x', 'first_name', 'second_name', 'name', 'threat', 'total_points', 'element_type', 'now_cost', 'form_x', 'minutes', 'goals_scored', 'expected_goals', 'assists', 'expected_assists', 'creativity', 'influence', 'ict_index', 'clean_sheets', 'yellow_cards', 'red_cards']]
df_player_team.rename(columns={'id_x': 'Player_id', 'name': 'Team_name', 'form_x': 'player_form'}, inplace=True)
df_player_team.head()

,Player_id,first_name,second_name,Team_name,threat,total_points,element_type,now_cost,player_form,minutes,goals_scored,expected_goals,assists,expected_assists,creativity,influence,ict_index,clean_sheets,yellow_cards,red_cards
0,1,David,Raya Martín,Arsenal,0.0,34,1,57,4.0,630,0,0.00,0,0.04,10.0,135.8,14.5,4,1,0
1,2,Kepa,Arrizabalaga Revuelta,Arsenal,0.0,0,1,43,0.0,0,0,0.00,0,0.00,0.0,0.0,0.0,0,0,0
2,3,Karl,Hein,Arsenal,0.0,0,1,40,0.0,0,0,0.00,0,0.00,0.0,0.0,0.0,0,0,0
3,4,Tommy,Setford,Arsenal,0.0,0,1,40,0.0,0,0,0.00,0,0.00,0.0,0.0,0.0,0,0,0
4,5,Gabriel,dos Santos Magalhães,Arsenal,56.0,47,2,63,8.2,630,1,0.48,0,0.09,13.1,200.6,27.0,4,0,0

In [12]:
df_player_team.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 743 entries, 0 to 742
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Player_id         743 non-null    int64
 1   first_name        743 non-null    object
 2   second_name       743 non-null    object
 3   Team_name         743 non-null    object
 4   threat            743 non-null    object
 5   total_points      743 non-null    int64
 6   element_type      743 non-null    int64
 7   now_cost          743 non-null    int64
 8   player_form       743 non-null    object
 9   minutes           743 non-null    int64
 10  goals_scored      743 non-null    int64
 11  expected_goals    743 non-null    object
 12  assists           743 non-null    int64
 13  expected_assists  743 non-null    object
 14  creativity        743 non-null    object
 15  influence         743 non-null    object
 16  ict_index         743 non-null    object
 17  clean_sheets      743 non-null    int64
 18  yellow_cards      743 non-null    int64
 19  red_cards         743 non-null    int64
dtypes: int64(10), object(10)
memory usage: 116.2+ KB

In [13]:
df_player_team.threat.dtype

dtype('O')

In [35]:
cols_to_convert = ['threat', 'player_form', 'expected_goals', 'expected_assists', 'creativity', 'influence', 'ict_index']
df_player_team[cols_to_convert] = df_player_team[cols_to_convert].apply(pd.to_numeric, errors='coerce')
df_player_team['threat'].dtype

dtype('float64')

In [75]:
cols_to_convert = ['threat', 'form', 'expected_goals', 'expected_assists', 'creativity', 'influence', 'ict_index', 'points_per_game']
df_players[cols_to_convert] = df_players[cols_to_convert].apply(pd.to_numeric, errors='coerce')

In [16]:
df_player_team['influence'].isna().sum()

np.int64(0)

In [17]:
cols_to_compare = cols_to_convert
cols_to_compare += ['total_points', 'goals_scored', 'assists', 'minutes', 'now_cost']

In [18]:
cols_to_compare

['threat',
 'player_form',
 'expected_goals',
 'expected_assists',
 'creativity',
 'influence',
 'ict_index',
 'total_points',
 'goals_scored',
 'assists',
 'minutes',
 'now_cost']

In [21]:
df_player_team[cols_to_compare].corr().style.background_gradient(cmap='coolwarm')

## Top 5 Features that affect the most points in a season

In [23]:
corr_matrix = df_player_team[cols_to_compare].corr()

corr_pairs = (
    corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(bool))
    .stack()
    .reset_index()
)
corr_pairs.columns = ['Feature 1', 'Feature 2', 'Correlation']
top5 = corr_pairs.reindex(corr_pairs['Correlation'].abs().sort_values(ascending=False).index).head(5)
top5

       Feature 1     Feature 2  Correlation
46     influence  total_points     0.935824
16   player_form  total_points     0.929074
49     influence       minutes     0.907055
51     ict_index  total_points     0.903108
58  total_points       minutes     0.892693

In [121]:
df_player_team.nlargest(10, 'influence')

,Player_id,first_name,second_name,Team_name,threat,total_points,element_type,now_cost,player_form,minutes,goals_scored,expected_goals,assists,expected_assists,creativity,influence,ict_index,clean_sheets,yellow_cards,red_cards
473,430,Erling,Haaland,Man City,387.0,70,4,145,11.5,593,9,7.64,1,0.57,55.1,324.8,76.8,4,0,0
134,82,Antoine,Semenyo,Bournemouth,212.0,66,3,79,10.8,630,6,3.65,3,0.37,132.4,305.0,65.0,3,1,0
259,241,Moisés,Caicedo Corozo,Chelsea,51.0,45,3,58,7.0,630,3,0.53,0,0.24,59.2,245.4,35.5,2,1,0
124,72,Marcos,Senesi Barón,Bournemouth,20.0,46,2,50,5.2,617,0,0.14,2,1.09,67.8,225.8,31.4,3,1,0
415,373,Virgil,van Dijk,Liverpool,29.0,29,2,61,3.8,630,0,0.18,0,0.12,26.4,219.8,27.5,2,1,0
94,200,Jaidon,Anthony,Burnley,174.0,41,3,57,5.0,587,4,2.16,1,0.62,100.4,219.0,49.4,2,2,0
114,470,Martin,Dúbravka,Burnley,0.0,20,1,40,2.5,630,0,0.00,0,0.00,0.0,218.0,21.9,1,0,0
630,683,Omar,Alderete,Sunderland,77.0,39,2,41,7.5,577,1,0.58,1,0.34,27.6,210.8,31.5,2,1,0
628,670,Robin,Roefs,Sunderland,0.0,41,1,46,6.0,630,0,0.00,0,0.01,20.0,208.0,22.7,3,1,0
338,419,Jack,Grealish,Everton,208.0,37,3,69,3.8,556,1,0.85,4,1.89,228.6,207.6,64.5,2,2,0

In [151]:
df_player_team.loc[df_player_team['element_type'] == 3].nlargest(10, 'influence')[['first_name', 'second_name', 'Team_name', 'goals_scored', 'expected_goals', 'G - xG', 'expected_assists', 'A - xA', 'total_points', 'now_cost', 'influence', 'minutes']]

,first_name,second_name,Team_name,goals_scored,expected_goals,G - xG,expected_assists,A - xA,total_points,now_cost,influence,minutes
134,Antoine,Semenyo,Bournemouth,6,3.65,2.35,0.37,2.63,66,79,305.0,630
259,Moisés,Caicedo Corozo,Chelsea,3,0.53,2.47,0.24,-0.24,45,58,245.4,630
94,Jaidon,Anthony,Burnley,4,2.16,1.84,0.62,0.38,41,57,219.0,587
338,Jack,Grealish,Everton,1,0.85,0.15,1.89,2.11,37,69,207.6,556
497,Bruno,Borges Fernandes,Man Utd,2,3.69,-1.69,1.30,-1.30,28,90,199.8,626
323,Iliman,Ndiaye,Everton,3,2.16,0.84,1.04,-0.04,37,65,198.2,588
99,Josh,Cullen,Burnley,1,0.18,0.82,0.59,0.41,37,50,189.2,590
255,Enzo,Fernández,Chelsea,3,3.76,-0.76,0.51,1.49,41,67,188.4,618
652,Mohammed,Kudus,Spurs,1,1.29,-0.29,1.14,3.86,39,67,187.0,618
327,James,Garner,Everton,1,0.55,0.45,1.05,-0.05,33,50,186.8,630

In [ ]:
# Ranking by players outperforming their xG
df_player_team['G - xG'] = df_player_team['goals_scored'] - df_player_team['expected_goals']
df_player_team.nlargest(10, 'G - xG')[['first_name', 'second_name', 'Team_name', 'goals_scored', 'expected_goals', 'G - xG', 'total_points', 'now_cost']]

,first_name,second_name,Team_name,goals_scored,expected_goals,G - xG,total_points,now_cost
259,Moisés,Caicedo Corozo,Chelsea,3,0.53,2.47,45,58
134,Antoine,Semenyo,Bournemouth,6,3.65,2.35,66,79
698,Jarrod,Bowen,West Ham,3,0.83,2.17,35,77
94,Jaidon,Anthony,Burnley,4,2.16,1.84,41,57
622,Wilson,Isidor,Sunderland,3,1.23,1.77,28,56
24,Martín,Zubimendi Ibáñez,Arsenal,2,0.26,1.74,32,55
537,Bruno,Guimarães Rodriguez Moura,Newcastle,2,0.32,1.68,30,65
431,Ryan,Gravenberch,Liverpool,2,0.40,1.60,37,57
670,João Maria,Lobo Alves Palhares Costa Palhinha Gonçalves,Spurs,2,0.54,1.46,30,55
473,Erling,Haaland,Man City,9,7.64,1.36,70,145

In [127]:
# Ranking by players outperforming their xA
df_player_team['A - xA'] = df_player_team['assists'] - df_player_team['expected_assists']
df_player_team.nlargest(10, 'A - xA')[['first_name', 'second_name', 'Team_name', 'assists', 'expected_assists', 'A - xA', 'total_points', 'now_cost', 'minutes']]

,first_name,second_name,Team_name,assists,expected_assists,A - xA,total_points,now_cost,minutes
652,Mohammed,Kudus,Spurs,5,1.14,3.86,39,67,618
677,El Hadji Malick,Diouf,West Ham,4,0.75,3.25,26,44,630
266,João Pedro,Junqueira de Jesus,Chelsea,3,0.23,2.77,39,77,583
463,Jérémy,Doku,Man City,4,1.33,2.67,29,66,385
134,Antoine,Semenyo,Bournemouth,3,0.37,2.63,66,79,630
627,Granit,Xhaka,Sunderland,3,0.72,2.28,32,50,630
29,Eberechi,Eze,Arsenal,3,0.84,2.16,22,76,394
338,Jack,Grealish,Everton,4,1.89,2.11,37,69,556
6,Riccardo,Calafiori,Arsenal,2,0.15,1.85,42,57,524
19,Declan,Rice,Arsenal,3,1.16,1.84,40,65,542

In [129]:
df_player_team.nlargest(10, 'assists')[['first_name', 'second_name', 'Team_name', 'assists', 'expected_assists', 'A - xA', 'total_points', 'now_cost', 'minutes']]

,first_name,second_name,Team_name,assists,expected_assists,A - xA,total_points,now_cost,minutes
652,Mohammed,Kudus,Spurs,5,1.14,3.86,39,67,618
338,Jack,Grealish,Everton,4,1.89,2.11,37,69,556
463,Jérémy,Doku,Man City,4,1.33,2.67,29,66,385
677,El Hadji Malick,Diouf,West Ham,4,0.75,3.25,26,44,630
19,Declan,Rice,Arsenal,3,1.16,1.84,40,65,542
29,Eberechi,Eze,Arsenal,3,0.84,2.16,22,76,394
134,Antoine,Semenyo,Bournemouth,3,0.37,2.63,66,79,630
266,João Pedro,Junqueira de Jesus,Chelsea,3,0.23,2.77,39,77,583
627,Granit,Xhaka,Sunderland,3,0.72,2.28,32,50,630
6,Riccardo,Calafiori,Arsenal,2,0.15,1.85,42,57,524

In [145]:
df_players.loc[df_players['element_type'] == 4].nlargest(10, 'now_cost')[['first_name', 'second_name', 'now_cost', 'cost_change_event','cost_change_event_fall','cost_change_start','cost_change_start_fall']]

,first_name,second_name,now_cost,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall
473,Erling,Haaland,145,1,-1,5,-5
439,Alexander,Isak,106,0,0,1,-1
31,Viktor,Gyökeres,91,1,-1,1,-1
66,Ollie,Watkins,87,0,0,-3,3
440,Hugo,Ekitiké,87,0,0,2,-2
266,João Pedro,Junqueira de Jesus,77,0,0,2,-2
698,Jarrod,Bowen,77,0,0,-3,3
302,Jean-Philippe,Mateta,75,0,0,0,0
518,Yoane,Wissa,74,0,0,-1,1
578,Chris,Wood,74,0,0,-1,1

In [90]:
df_players.nlargest(10, 'total_points')[['id', 'first_name', 'second_name', 'team', 'ep_next','total_points', 'element_type', 'now_cost', 'form', 'minutes', 'goals_scored', 'assists', 'clean_sheets', 'yellow_cards', 'red_cards']]

,id,first_name,second_name,team,ep_next,total_points,element_type,now_cost,form,minutes,goals_scored,assists,clean_sheets,yellow_cards,red_cards
473,430,Erling,Haaland,13,12.0,70,4,145,11.5,593,9,1,4,0,0
134,82,Antoine,Semenyo,4,10.8,66,3,79,10.8,630,6,3,3,1,0
7,8,Jurriën,Timber,1,6.0,48,2,59,5.5,521,2,2,3,2,0
4,5,Gabriel,dos Santos Magalhães,1,8.7,47,2,63,8.2,630,1,0,4,0,0
124,72,Marcos,Senesi Barón,4,5.2,46,2,50,5.2,617,0,2,3,1,0
280,260,Marc,Guéhi,8,5.8,46,2,49,5.8,630,1,2,3,0,0
259,241,Moisés,Caicedo Corozo,7,7.5,45,3,58,7.0,630,3,0,2,1,0
525,476,Dan,Burn,15,7.0,43,2,51,6.5,630,0,1,5,2,0
6,7,Riccardo,Calafiori,1,4.0,42,2,57,3.5,524,1,2,4,3,0
94,200,Jaidon,Anthony,3,3.8,41,3,57,5.0,587,4,1,2,2,0

## Focus on Midfielders

In [78]:
mid_players = df_players.loc[(df_players['element_type'] == 3) & (df_players['now_cost'] < 84)].merge(df_teams, left_on='team', right_on='id')

stat_to_sort_by = 'points_per_game'

mid_players.nlargest(10, stat_to_sort_by)[['first_name', 'second_name', 'name', 'total_points', 'now_cost', stat_to_sort_by, 'minutes', 'goals_scored', 'assists', 'clean_sheets', 'yellow_cards', 'red_cards', 'clearances_blocks_interceptions',
 'recoveries',
 'tackles',
 'defensive_contribution', 'bonus', 'bps']].reset_index(drop=True)

,first_name,second_name,name,total_points,now_cost,points_per_game,minutes,goals_scored,assists,clean_sheets,yellow_cards,red_cards,clearances_blocks_interceptions,recoveries,tackles,defensive_contribution,bonus,bps
0,Antoine,Semenyo,Bournemouth,66,79,9.4,630,6,3,3,1,0,7,39,12,58,9,190
1,Ismaïla,Sarr,Crystal Palace,36,65,7.2,432,3,1,3,1,0,8,14,6,28,6,107
2,Moisés,Caicedo Corozo,Chelsea,45,58,6.4,630,3,0,2,1,0,30,38,28,96,7,187
3,Ryan,Gravenberch,Liverpool,37,57,6.2,540,2,2,2,2,0,18,28,10,56,7,153
4,Matt,O'Riley,Brighton,12,55,6.0,177,1,0,1,0,0,3,2,4,9,2,36
5,Jaidon,Anthony,Burnley,41,57,5.9,587,4,1,2,2,0,14,29,12,55,5,144
6,Enzo,Fernández,Chelsea,41,67,5.9,618,3,2,2,1,0,8,23,14,45,3,147
7,Declan,Rice,Arsenal,40,65,5.7,542,1,3,3,0,0,14,29,6,49,6,154
8,Mohammed,Kudus,Spurs,39,67,5.6,618,1,5,3,2,0,0,29,15,44,4,123
9,Josh,Cullen,Burnley,37,50,5.3,590,1,1,2,0,0,38,33,15,86,5,150

In [79]:
mid_stats_corr = mid_players[['total_points', 'now_cost', 'influence', 'minutes', 'goals_scored', 'assists', 'clean_sheets', 'yellow_cards', 'red_cards', 'clearances_blocks_interceptions', 'expected_goals', 'expected_assists',
 'recoveries',
 'tackles',
 'defensive_contribution', 'bonus']].corr()

mid_stats_corr.style.background_gradient(cmap='coolwarm')

In [83]:
corr_pairs = (
    mid_stats_corr.where(np.triu(np.ones(mid_stats_corr.shape), k=1).astype(bool))
    .stack()
    .reset_index()
)
corr_pairs.columns = ['Feature 1', 'Feature 2', 'Correlation']
top5 = corr_pairs.reindex(corr_pairs['Correlation'].abs().sort_values(ascending=False).index).head(10)
top5

                           Feature 1               Feature 2  Correlation
1                       total_points               influence     0.969351
115                       recoveries  defensive_contribution     0.959805
50                           minutes              recoveries     0.923295
52                           minutes  defensive_contribution     0.921239
117                          tackles  defensive_contribution     0.910250
2                       total_points                 minutes     0.906445
103  clearances_blocks_interceptions  defensive_contribution     0.899836
29                         influence                 minutes     0.875637
40                         influence  defensive_contribution     0.862610
11                      total_points              recoveries     0.856861

In [90]:
stat_to_sort_by = 'form_x'

mid_players.nlargest(10, stat_to_sort_by)[['first_name', 'second_name', 'name', 'total_points', 'now_cost', stat_to_sort_by, 'minutes', 'goals_scored', 'assists', 'clean_sheets', 'yellow_cards', 'red_cards', 'clearances_blocks_interceptions', 'expected_goals', 'expected_assists',
 'recoveries',
 'tackles',
 'defensive_contribution', 'bonus', 'bps']].reset_index(drop=True)

,first_name,second_name,name,total_points,now_cost,form_x,minutes,goals_scored,assists,clean_sheets,yellow_cards,red_cards,clearances_blocks_interceptions,expected_goals,expected_assists,recoveries,tackles,defensive_contribution,bonus,bps
0,Antoine,Semenyo,Bournemouth,66,79,10.8,630,6,3,3,1,0,7,3.65,0.37,39,12,58,9,190
1,Moisés,Caicedo Corozo,Chelsea,45,58,7.0,630,3,0,2,1,0,30,0.53,0.24,38,28,96,7,187
2,Ryan,Gravenberch,Liverpool,37,57,7.0,540,2,2,2,2,0,18,0.40,0.37,28,10,56,7,153
3,Declan,Rice,Arsenal,40,65,6.0,542,1,3,3,0,0,14,0.47,1.16,29,6,49,6,154
4,Jérémy,Doku,Man City,29,66,6.0,385,0,4,3,0,0,1,0.59,1.33,13,5,19,3,96
5,Mohammed,Kudus,Spurs,39,67,6.0,618,1,5,3,2,0,0,1.29,1.14,29,15,44,4,123
6,Martín,Zubimendi Ibáñez,Arsenal,32,55,5.8,591,2,0,4,1,0,16,0.26,0.80,24,14,54,3,140
7,Yankuba,Minteh,Brighton,31,60,5.5,593,1,2,1,0,0,10,1.62,1.23,30,12,52,3,134
8,Sean,Longstaff,Leeds,28,49,5.2,475,1,1,1,0,0,11,0.43,0.48,21,23,55,3,137
9,Granit,Xhaka,Sunderland,32,50,5.2,630,0,3,3,3,0,41,0.14,0.72,36,12,89,1,143

## Focus on Defenders

In [37]:
df_players.columns.to_list()

['can_transact',
 'can_select',
 'chance_of_playing_next_round',
 'chance_of_playing_this_round',
 'code',
 'cost_change_event',
 'cost_change_event_fall',
 'cost_change_start',
 'cost_change_start_fall',
 'dreamteam_count',
 'element_type',
 'ep_next',
 'ep_this',
 'event_points',
 'first_name',
 'form',
 'id',
 'in_dreamteam',
 'news',
 'news_added',
 'now_cost',
 'photo',
 'points_per_game',
 'removed',
 'second_name',
 'selected_by_percent',
 'special',
 'squad_number',
 'status',
 'team',
 'team_code',
 'total_points',
 'transfers_in',
 'transfers_in_event',
 'transfers_out',
 'transfers_out_event',
 'value_form',
 'value_season',
 'web_name',
 'region',
 'team_join_date',
 'birth_date',
 'has_temporary_code',
 'opta_code',
 'minutes',
 'goals_scored',
 'assists',
 'clean_sheets',
 'goals_conceded',
 'own_goals',
 'penalties_saved',
 'penalties_missed',
 'yellow_cards',
 'red_cards',
 'saves',
 'bonus',
 'bps',
 'influence',
 'creativity',
 'threat',
 'ict_index',
 'clearances_blocks_interceptions',
 'recoveries',
 'tackles',
 'defensive_contribution',
 'starts',
 'expected_goals',
 'expected_assists',
 'expected_goal_involvements',
 'expected_goals_conceded',
 'influence_rank',
 'influence_rank_type',
 'creativity_rank',
 'creativity_rank_type',
 'threat_rank',
 'threat_rank_type',
 'ict_index_rank',
 'ict_index_rank_type',
 'corners_and_indirect_freekicks_order',
 'corners_and_indirect_freekicks_text',
 'direct_freekicks_order',
 'direct_freekicks_text',
 'penalties_order',
 'penalties_text',
 'expected_goals_per_90',
 'saves_per_90',
 'expected_assists_per_90',
 'expected_goal_involvements_per_90',
 'expected_goals_conceded_per_90',
 'goals_conceded_per_90',
 'now_cost_rank',
 'now_cost_rank_type',
 'form_rank',
 'form_rank_type',
 'points_per_game_rank',
 'points_per_game_rank_type',
 'selected_rank',
 'selected_rank_type',
 'starts_per_90',
 'clean_sheets_per_90',
 'defensive_contribution_per_90']

In [80]:
def_players = df_players.loc[df_players['element_type'] == 2].merge(df_teams, left_on='team', right_on='id')

stat_to_sort_by = 'clearances_blocks_interceptions'

def_players.nlargest(10, stat_to_sort_by)[['first_name', 'second_name', 'name', 'total_points', 'now_cost', stat_to_sort_by, 'minutes', 'goals_scored', 'assists', 'clean_sheets', 'yellow_cards', 'red_cards', 'clearances_blocks_interceptions',
 'recoveries',
 'tackles',
 'defensive_contribution', 'bonus', 'bps']].reset_index(drop=True)

,first_name,second_name,name,total_points,now_cost,clearances_blocks_interceptions,minutes,goals_scored,assists,clean_sheets,yellow_cards,red_cards,clearances_blocks_interceptions,recoveries,tackles,defensive_contribution,bonus,bps
0,Marcos,Senesi Barón,Bournemouth,46,50,76,617,0,2,3,1,0,76,26,12,88,6,146
1,Virgil,van Dijk,Liverpool,29,61,76,630,0,0,2,1,0,76,16,3,79,4,108
2,James,Tarkowski,Everton,32,55,67,630,0,0,2,1,0,67,24,12,79,1,110
3,Joachim,Andersen,Fulham,29,45,66,630,0,0,1,0,0,66,25,15,81,2,102
4,Michael,Keane,Everton,35,45,64,604,1,0,2,0,0,64,21,7,71,1,102
5,Maxime,Estève,Burnley,15,40,60,622,0,0,1,0,0,60,15,7,67,0,35
6,Nathan,Collins,Brentford,18,49,58,630,0,0,1,3,0,58,25,4,62,1,58
7,Maxence,Lacroix,Crystal Palace,37,51,57,630,0,1,3,1,0,57,18,15,72,2,130
8,Chris,Richards,Crystal Palace,33,45,57,630,0,0,3,0,0,57,8,16,73,0,130
9,Joe,Rodon,Leeds,30,41,57,630,1,0,2,0,0,57,17,5,62,2,100

In [81]:
def_stats_corr = def_players[['total_points', 'now_cost', 'influence', 'minutes', 'goals_scored', 'assists', 'clean_sheets', 'yellow_cards', 'red_cards', 'clearances_blocks_interceptions',
 'recoveries',
 'tackles',
 'defensive_contribution', 'bonus']].corr()

def_stats_corr.style.background_gradient(cmap='coolwarm')

In [82]:
corr_pairs = (
    def_stats_corr.where(np.triu(np.ones(def_stats_corr.shape), k=1).astype(bool))
    .stack()
    .reset_index()
)
corr_pairs.columns = ['Feature 1', 'Feature 2', 'Correlation']
top5 = corr_pairs.reindex(corr_pairs['Correlation'].abs().sort_values(ascending=False).index).head(10)
top5

,Feature 1,Feature 2,Correlation
83,clearances_blocks_interceptions,defensive_contribution,0.982392
34,influence,defensive_contribution,0.968211
44,minutes,defensive_contribution,0.940636
31,influence,clearances_blocks_interceptions,0.939759
25,influence,minutes,0.939055
42,minutes,recoveries,0.936744
1,total_points,influence,0.912835
41,minutes,clearances_blocks_interceptions,0.900094
5,total_points,clean_sheets,0.898554
2,total_points,minutes,0.882733

#### Most Points by Position
Display top 5 players by position (FWD element_type = 4) based on total points scored in the season

In [44]:
df_forwards = df_players[df_players['element_type'] == 4]
df_forwards = df_forwards[['id', 'first_name', 'second_name', 'team', 'total_points', 'now_cost', 'form', 'minutes', 'goals_scored', 'expected_goals', 'assists', 'defensive_contribution']]
df_forwards.head()

,id,first_name,second_name,team,total_points,now_cost,form,minutes,goals_scored,expected_goals,assists,defensive_contribution
27,30,Kai,Havertz,1,1,73,0.0,30,0,0.00,0,3
28,31,Gabriel,Fernando de Jesus,1,0,64,0.0,0,0,0.00,0,0
31,666,Viktor,Gyökeres,1,26,91,3.0,576,3,3.01,0,22
66,64,Ollie,Watkins,2,20,87,3.5,598,1,1.68,0,18
67,65,Zépiqueno,Redmond,2,0,45,0.0,0,0,0.00,0,0

In [45]:
df_forwards.nlargest(5, 'total_points')

,id,first_name,second_name,team,total_points,now_cost,form,minutes,goals_scored,expected_goals,assists,defensive_contribution
473,430,Erling,Haaland,13,70,145,11.5,593,9,7.64,1,26
266,249,João Pedro,Junqueira de Jesus,7,39,77,3.2,583,2,1.53,3,29
698,624,Jarrod,Bowen,19,35,77,5.5,630,3,0.83,0,41
440,661,Hugo,Ekitiké,12,33,87,2.8,381,3,1.91,1,26
193,136,Igor Thiago,Nascimento Rodrigues,5,32,61,4.5,561,4,2.72,0,31

### Exploring points scored by Midfielders (element_type = 3)

In [41]:
df_mid = df_players[df_players['element_type'] == 3]
df_mid.nlargest(10, 'total_points')[['id', 'first_name', 'second_name', 'team', 'total_points', 'now_cost', 'form', 'minutes', 'goals_scored', 'expected_goals', 'assists', 'defensive_contribution']]

,id,first_name,second_name,team,total_points,now_cost,form,minutes,goals_scored,expected_goals,assists,defensive_contribution
134,82,Antoine,Semenyo,4,66,79,10.8,630,6,3.65,3,58
259,241,Moisés,Caicedo Corozo,7,45,58,7.0,630,3,0.53,0,96
94,200,Jaidon,Anthony,3,41,57,5.0,587,4,2.16,1,55
255,237,Enzo,Fernández,7,41,67,4.0,618,3,3.76,2,45
19,21,Declan,Rice,1,40,65,6.0,542,1,0.47,3,49
652,582,Mohammed,Kudus,18,39,67,6.0,618,1,1.29,5,44
99,205,Josh,Cullen,3,37,50,4.2,590,1,0.18,1,86
323,299,Iliman,Ndiaye,9,37,65,5.0,588,3,2.16,1,65
338,419,Jack,Grealish,9,37,69,3.8,556,1,0.85,4,52
431,390,Ryan,Gravenberch,12,37,57,7.0,540,2,0.40,2,56

### Keeper with most points and details

In [16]:
df_gk = df_players[df_players['element_type'] == 1]
df_gk.nlargest(10, 'total_points')[['id', 'first_name', 'second_name', 'team', 'total_points', 'now_cost', 'form', 'minutes', 'saves', 'clean_sheets', 'expected_goals_conceded', 'penalties_saved', 'chance_of_playing_next_round']]

,id,first_name,second_name,team,total_points,now_cost,form,minutes,saves,clean_sheets,expected_goals_conceded,penalties_saved,chance_of_playing_next_round
519,469,Nick,Pope,15,41,51,5.8,630,19,5,4.98,0,NaN
628,670,Robin,Roefs,17,41,46,6.0,630,24,3,8.76,1,NaN
635,565,Guglielmo,Vicario,18,35,51,3.5,630,24,3,8.83,0,NaN
0,1,David,Raya Martín,1,34,57,4.0,630,15,4,4.40,0,NaN
311,287,Jordan,Pickford,9,30,55,3.0,630,17,2,9.87,1,NaN
119,67,Đorđe,Petrović,4,27,45,3.5,630,19,3,6.34,0,NaN
273,253,Dean,Henderson,8,27,50,3.0,630,16,3,8.85,0,NaN
160,101,Caoimhín,Kelleher,5,21,45,3.5,630,19,1,9.76,1,100.0
114,470,Martin,Dúbravka,3,20,40,2.5,630,29,1,13.67,0,100.0
345,314,Bernd,Leno,10,20,50,3.0,630,19,1,9.08,0,NaN

In [17]:
small_df_gk = df_gk[['id', 'total_points', 'now_cost', 'form', 'minutes', 'saves', 'clean_sheets', 'expected_goals_conceded', 'penalties_saved', 'chance_of_playing_next_round']]

In [18]:
small_df_gk.corr()

,id,total_points,now_cost,form,minutes,saves,clean_sheets,expected_goals_conceded,penalties_saved,chance_of_playing_next_round
id,1.000000,0.025341,0.063049,0.065000,0.003873,0.033742,0.007980,0.037344,-0.004246,0.058898
total_points,0.025341,1.000000,0.690914,0.929853,0.917844,0.896145,0.920634,0.810121,0.465547,0.598331
now_cost,0.063049,0.690914,1.000000,0.656838,0.670586,0.564218,0.664395,0.570443,0.225361,0.093649
form,0.065000,0.929853,0.656838,1.000000,0.855641,0.847502,0.818678,0.737555,0.469035,0.577821
minutes,0.003873,0.917844,0.670586,0.855641,1.000000,0.952777,0.749411,0.955273,0.386503,0.611040
saves,0.033742,0.896145,0.564218,0.847502,0.952777,1.000000,0.689371,0.945457,0.407732,0.616682
clean_sheets,0.007980,0.920634,0.664395,0.818678,0.749411,0.689371,1.000000,0.579501,0.291798,0.461044
expected_goals_conceded,0.037344,0.810121,0.570443,0.737555,0.955273,0.945457,0.579501,1.000000,0.398566,0.623511
penalties_saved,-0.004246,0.465547,0.225361,0.469035,0.386503,0.407732,0.291798,0.398566,1.000000,0.379709
chance_of_playing_next_round,0.058898,0.598331,0.093649,0.577821,0.611040,0.616682,0.461044,0.623511,0.379709,1.000000

In [19]:
df_players[['threat', 'creativity', 'total_points']].corr()

                threat  creativity  total_points
threat        1.000000    0.632303      0.691712
creativity    0.632303    1.000000      0.674468
total_points  0.691712    0.674468      1.000000

### Merge players and teams dataframes to get team names in players dataframe

In [20]:
positions_df = pd.DataFrame(bootstrap.get_positions())
positions_df.head()

,id,plural_name,plural_name_short,singular_name,singular_name_short,squad_select,squad_min_select,squad_max_select,squad_min_play,squad_max_play,ui_shirt_specific,sub_positions_locked,element_count
0,1,Goalkeepers,GKP,Goalkeeper,GKP,2,None,None,1,1,True,[12],86
1,2,Defenders,DEF,Defender,DEF,5,None,None,3,5,False,[],245
2,3,Midfielders,MID,Midfielder,MID,5,None,None,2,5,False,[],330
3,4,Forwards,FWD,Forward,FWD,3,None,None,1,3,False,[],82

In [31]:
new_df = df_players.nlargest(10, 'total_points')[['id', 'first_name', 'second_name', 'team', 'threat', 'total_points', 'element_type', 'now_cost', 'form', 'minutes', 'goals_scored','news']]

new_df.merge(positions_df, left_on='element_type', right_on='id')[['id_x', 'first_name', 'second_name', 'team', 'threat', 'total_points', 'singular_name_short', 'now_cost', 'form', 'minutes', 'goals_scored','news']].add_prefix('Player_')

,Player_id_x,Player_first_name,Player_second_name,Player_team,Player_threat,Player_total_points,Player_singular_name_short,Player_now_cost,Player_form,Player_minutes,Player_goals_scored,Player_news
0,430,Erling,Haaland,13,387.0,70,FWD,145,11.5,593,9,
1,82,Antoine,Semenyo,4,212.0,66,MID,79,10.8,630,6,
2,8,Jurriën,Timber,1,183.0,48,DEF,59,5.5,521,2,
3,5,Gabriel,dos Santos Magalhães,1,56.0,47,DEF,63,8.2,630,1,
4,72,Marcos,Senesi Barón,4,20.0,46,DEF,50,5.2,617,0,
5,260,Marc,Guéhi,8,76.0,46,DEF,49,5.8,630,1,
6,241,Moisés,Caicedo Corozo,7,51.0,45,MID,58,7.0,630,3,
7,476,Dan,Burn,15,33.0,43,DEF,51,6.5,630,0,
8,7,Riccardo,Calafiori,1,118.0,42,DEF,57,3.5,524,1,
9,200,Jaidon,Anthony,3,174.0,41,MID,57,5.0,587,4,Knock - 75% chance of playing

In [32]:
new_df.rename(columns={'id': 'Player_id'}, inplace=True)

In [33]:
new_df

,Player_id,first_name,second_name,team,threat,total_points,element_type,now_cost,form,minutes,goals_scored,news
473,430,Erling,Haaland,13,387.0,70,4,145,11.5,593,9,
134,82,Antoine,Semenyo,4,212.0,66,3,79,10.8,630,6,
7,8,Jurriën,Timber,1,183.0,48,2,59,5.5,521,2,
4,5,Gabriel,dos Santos Magalhães,1,56.0,47,2,63,8.2,630,1,
124,72,Marcos,Senesi Barón,4,20.0,46,2,50,5.2,617,0,
280,260,Marc,Guéhi,8,76.0,46,2,49,5.8,630,1,
259,241,Moisés,Caicedo Corozo,7,51.0,45,3,58,7.0,630,3,
525,476,Dan,Burn,15,33.0,43,2,51,6.5,630,0,
6,7,Riccardo,Calafiori,1,118.0,42,2,57,3.5,524,1,
94,200,Jaidon,Anthony,3,174.0,41,3,57,5.0,587,4,Knock - 75% chance of playing

In [34]:
# points per million

new_df['ppm'] = new_df['total_points'] / (new_df['now_cost'] / 10)
new_df.sort_values(by='ppm', ascending=False)

,Player_id,first_name,second_name,team,threat,total_points,element_type,now_cost,form,minutes,goals_scored,news,ppm
280,260,Marc,Guéhi,8,76.0,46,2,49,5.8,630,1,,9.387755
124,72,Marcos,Senesi Barón,4,20.0,46,2,50,5.2,617,0,,9.200000
525,476,Dan,Burn,15,33.0,43,2,51,6.5,630,0,,8.431373
134,82,Antoine,Semenyo,4,212.0,66,3,79,10.8,630,6,,8.354430
7,8,Jurriën,Timber,1,183.0,48,2,59,5.5,521,2,,8.135593
259,241,Moisés,Caicedo Corozo,7,51.0,45,3,58,7.0,630,3,,7.758621
4,5,Gabriel,dos Santos Magalhães,1,56.0,47,2,63,8.2,630,1,,7.460317
6,7,Riccardo,Calafiori,1,118.0,42,2,57,3.5,524,1,,7.368421
94,200,Jaidon,Anthony,3,174.0,41,3,57,5.0,587,4,Knock - 75% chance of playing,7.192982
473,430,Erling,Haaland,13,387.0,70,4,145,11.5,593,9,,4.827586

In [46]:
df_forwards

,id,first_name,second_name,team,total_points,now_cost,form,minutes,goals_scored,expected_goals,assists,defensive_contribution
27,30,Kai,Havertz,1,1,73,0.0,30,0,0.00,0,3
28,31,Gabriel,Fernando de Jesus,1,0,64,0.0,0,0,0.00,0,0
31,666,Viktor,Gyökeres,1,26,91,3.0,576,3,3.01,0,22
66,64,Ollie,Watkins,2,20,87,3.5,598,1,1.68,0,18
67,65,Zépiqueno,Redmond,2,0,45,0.0,0,0,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
734,655,Fábio,Soares Silva,20,0,49,0.0,0,0,0.00,0,0
735,656,Saša,Kalajdžić,20,1,49,0.0,14,0,0.00,0,2
736,657,Leon,Chiwome,20,0,45,0.0,0,0,0.00,0,0
737,658,Nathan,Fraser,20,0,44,0.0,0,0,0.00,0,0
742,720,Tolu,Arokodare,20,6,55,1.5,162,0,0.22,0,10

In [47]:
df_forwards.merge(positions_df, left_on='element_type', right_on='id')[['id_x', 'first_name', 'second_name', 'team', 'threat', 'total_points', 'singular_name_short', 'now_cost', 'form', 'minutes', 'goals_scored']].add_prefix('Player_')
df_forwards['ppm'] = df_forwards['total_points'] / (df_forwards['now_cost'] / 10)
df_forwards.sort_values(by='ppm', ascending=False).head(10)

KeyError: 'element_type'